.filters {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.content {
  position: relative;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
}
