<app-page-layout
  title="Сегменты контактов"
  [subtitle]="'Всего: ' + (segments()?.length || 0) + ' сегментов'"
>
  <div page-actions>
    <button mat-raised-button color="primary" routerLink="/messages/segments/new">
      <mat-icon>add</mat-icon>
      Создать сегмент
    </button>
  </div>

  @if (segments()?.length === 0 && !loading()) {
    <div class="empty-state">
      <mat-icon>group_work</mat-icon>
      <h3>Нет сегментов</h3>
      <p>Создайте первый сегмент для группировки контактов</p>
      <button mat-raised-button color="primary" routerLink="/messages/segments/new">
        <mat-icon>add</mat-icon>
        Создать сегмент
      </button>
    </div>
  } @else {
    <crm-table
      [columns]="columns"
      [data]="segments()"
      [pageSize]="20"
    >
      <ng-template crmColumnTemplate="descriptionTemplate" let-segment>
        <div class="description-text">{{ segment.description }}</div>
      </ng-template>

      <ng-template crmColumnTemplate="contactCountTemplate" let-segment>
        <div class="count-badge">
          <mat-icon>people</mat-icon>
          <span>{{ segment.contactsCount || 0 }}</span>
        </div>
      </ng-template>

      <ng-template crmColumnTemplate="filterCountTemplate" let-segment>
        <div class="filter-badge">
          <mat-icon>filter_alt</mat-icon>
          <span>{{ segment.filters?.length || 0 }}</span>
        </div>
      </ng-template>

      <ng-template crmColumnTemplate="actionsTemplate" let-segment>
        <button mat-icon-button [routerLink]="['/messages/segments', segment.id]" matTooltip="Редактировать">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/messages/segments', segment.id, 'contacts']" matTooltip="Просмотр контактов">
          <mat-icon>people</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="actionMenu" matTooltip="Еще">
          <mat-icon>more_vert</mat-icon>
        </button>
        
        <mat-menu #actionMenu="matMenu">
          <button mat-menu-item (click)="duplicateSegment(segment)">
            <mat-icon>content_copy</mat-icon>
            <span>Дублировать</span>
          </button>
          <button mat-menu-item (click)="refreshSegment(segment)">
            <mat-icon>refresh</mat-icon>
            <span>Обновить</span>
          </button>
          <button mat-menu-item (click)="deleteSegment(segment)">
            <mat-icon>delete</mat-icon>
            <span>Удалить</span>
          </button>
        </mat-menu>
      </ng-template>
    </crm-table>
  }
</app-page-layout>
