<div class="page-layout">
  <div class="page-header">
    <div class="header-content">
      <div class="header-top">
        <ng-content select="[page-back-button]"></ng-content>
      </div>
      @if (title()) {
        <h1>{{ title() }}</h1>
      }
      @if (subtitle()) {
        <p class="subtitle">{{ subtitle() }}</p>
      }
    </div>
    <div class="header-actions">
      <ng-content select="[page-actions]"></ng-content>
    </div>
  </div>
  <div class="page-content">
    <ng-content></ng-content>
  </div>
</div>